#wrap {
    font-family: 'Lato', sans-serif;
    min-width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div.navbar-nav {
    --bs-nav-link-font-size: 1.25em;
    --bs-nav-link-font-weight: 300;
    --bs-nav-link-color: #000;
    --bs-nav-link-hover-color: #000;
    margin: auto;
    display: flex;
    flex-direction: row;
}

a.nav-link {
    padding-bottom: 0;
    margin: 2px;
    transition: border-color 1s ease;
    border-bottom: 1px solid transparent;
}

a.nav-link:hover {
    border-bottom: solid #000 1px;
}

a.active {
    border-bottom: solid #000 1px;
}

.clickable a {
    color: #000;
    text-decoration: none;
}

.clickable:hover {
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.564);
}

.clickable a:hover {
    color: #000;
}
